body {
    background-color: #f8f9fa;
    color: #343a40;
    font-family: Arial, sans-serif;
}

.shop-title {
    color: #007bff;
    font-size: 3rem;
    margin-top: 20px;
}

.shop-slogan {
    color: #6c757d;
    font-style: italic;
}

.hr {
    border-top: 3px solid #007bff;
    width: 50%;
    margin: 20px auto;
}

.product-card {
    margin-bottom: 30px;
    padding: 20px;
    border: 1px solid #dee2e6;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-name {
    font-size: 1.5rem;
    color: #343a40;
    margin-bottom: 10px;
}

.product-img {
    width: 100%;
    height: auto;
    max-height: 300px;
    object-fit: cover;
    margin-bottom: 10px;
}

.product-price {
    font-size: 1.2rem;
    color: #28a745;
    font-weight: bold;
    margin-bottom: 10px;
}

.orders-label {
    font-size: 1.5rem;
    color: #343a40;
}

.total-input, .cash-input, .change-input {
    font-size: 1.2rem;
    margin-top: 10px;
  }

